body {
    background-image: url('swirl_pattern.png')
}
.hero-header {
    width: 100%;
    height: 780px;
    background-image: url('splash.png');
    background-size: cover;
}
.header-text {
    color: #FFFFFF;
    text-shadow: 4px 4px 2px rgba(76, 74, 74, 1);
}
.logo {
    width: 60px;
    height: 60px;
    float: left;
}
.game-wrapper {
    color: #FFFFFF;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -10px;
    min-height: 780px;
    background-image:url('main-background.png');
    background-size: cover;
}
.game-wrapper  h1 {
    color: #FFFFFF;
}
.game-wrapper > .container {
    margin-top: 50px;
}

.ants-table {
    background-color: #FFFFFF;
}
.ant-row {
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}
.ant-img {
    height: 64px;
    width: 64px;
}
.exit-btn {
    margin-right: 10px;
}
.fork-frame {
    position: absolute;
    right: 0px;
    top: 20px;
}
.ant-row-divider {
    margin-top: 1px;
    margin-bottom: 1px;
}
.ant-cost {
    width: 64px;
    margin: 0 auto;
}
.ant-inactive {
    opacity: 0.2
}
.ant-selected {
    background-color: #f0ad4e;
}
.tunnel-div {
    height: 160px;
    width: 80px;
}
.tunnel-img-container {
    margin-top: 40px;
    margin-left: 10px;
    position: absolute;
}
.tunnel-goc-div {
    height: 80px;
    width: 80px;
}
.places-table {
    float: none;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 70px;
}
.beehive-td, .places-td {
    cursor: pointer;
    border: 1px solid #4a474a;
}
.bee-img {
    width: 64px;
    height: 64px;
}
.active-ant {
    position: absolute;
    width: 64px;
    height: 64px;
}

.contained-ant{
    position: absolute;
    width: 64px;
    height: 64px;
}
